<div class="row mb-2" [formGroup]="form()">
  <label class="col-sm-2 col-form-label" [htmlFor]="campo().key">{{ campo().label }}</label>
  <div class="col-sm-10">
    @switch (campo().controlType) {
      @case ('textbox') {
        <input [classList]="classes" [formControlName]="campo().key" [id]="campo().key" [type]="campo().type" [min]="campo().min" [max]="campo().max">
      }
      @case ('dropdown') {
        <select [classList]="classes" [id]="campo().key" [formControlName]="campo().key">
          @for (opt of campo().options; track opt) {
            <option [value]="opt.key">{{ opt.value }}</option>
          }

        </select>
      }
      @case ('textarea') {
        <textarea [classList]="classes" [formControlName]="campo().key" [id]="campo().key"></textarea>
      }
      @case ('radio') {
        
      }
    }

    @if (!isValid && form().touched && form().dirty) {
      @if (form().controls[campo().key].hasError("required")) {
        <div class="text-danger">
          Campo requerido
        </div>
      }

      @if (form().controls[campo().key].hasError('pattern')) {
        <div class="text-danger">
          Patrón incorrecto
        </div>
      }

      @if (form().controls[campo().key].hasError('maxlength')) {
        <div class="text-danger">
          Longitud superior a {{campo().maxLength}}
        </div>
      }
    }
  </div>

</div>
